.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 99px;
  margin: 0 auto;
}

.link {
  font-size: 0.875em;
  line-height: 1.0625em;
  text-decoration: none;
  color: #636363;
}

.profyLink {
  display: flex;
  padding-left: 250px;
}

.terms {
  display: flex;
  padding-right: 250px;
}

.logo {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}
