.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding-left: 80px;
}

.list {
  list-style-type: none;
  height: 100%;
  margin-right: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 27px;

  .item {
    display: flex;
    padding-right: 25px;
    font-family: Montserrat;
    line-height: 20px;
    padding-bottom: 2px;

    .item_link {
      text-decoration: none;
      color: #636363;
    }
  }
}

.logo {
  padding-top: 32px;
}
